
html, 
body {
    height: 100%;
}

li {
    list-style: none;
    margin: 5px;
}

.footer ul,
.footer ul li ul 
 {
    display: flex;
    justify-content:space-evenly;
}

.footer ul li ul {
    flex-direction: column;
    align-items: center;

}


@media screen and (max-width: 960px) { 

footer ul {
        flex-direction: column;   
    }
    

         
}