
/* ===========
//  GENERAL  //
============== */
* {box-sizing:border-box}

html, 
body {
  height: 100%;
  font-family: 'Oswald', sans-serif;
}

h1, h2 {
font-family: 'Pacifico', cursive;
}
/* =============
//  HEADER/NAV  //
================ */
.ulheader {
    list-style-type: none;
}

/* =============
//   SLIDESHOW    //
================ */
.slideshow-container{
  display: flex;
  justify-content: space-around;
}

.image {
  height: 250px;
  width: 30%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}




/* =============
//   WHAT WE DO  //
================ */


/* =============
//     FORM     //
================ */
#formulaire {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  justify-content: center;
  border: dotted yellowgreen;
  background-color: #3FA663;
}

#formulaire > h2 {
  margin: 1vw;
}

#formulaire > form {
  display: flex;
  flex-direction: column;
  /*text-align: center;*/
  width: 75vw;
  margin: 1vw;
}

#formulaire > form > textarea {
  height: 10vw;
}

#formulaire p {
  text-align: center;
  margin: 1vw 0;
}

/* =============
//   ABOUT US    //
================ */
.aboutus{
  position: relative;
  display:flex;
  align-content: stretch;
}

.aboutus iframe{
  flex-grow: 6;
  padding:1vw;
}

.aboutbox {
  flex-grow: 3;
  margin:1vw;
}
.buttonteam {
  display:flex;
  justify-content: center;
}
.team {
  padding:10px;
  border-radius: 5px;
  margin: 5vw;

}


/* =============
//   FOOTER      //
================ */



li {
    list-style: none;
    margin: 5px;
}

.footer ul,
.footer ul li ul 
 {
    display: flex;
    justify-content:space-evenly;
}

.footer ul li ul {
    flex-direction: column;
    align-items: center;

}










/* =============
//   Media queries      //
================ */

@media screen and (max-width: 960px) { 

footer ul {
        flex-direction: column;   
    }
    

        
}