
/* ===========
//  GENERAL  //
============== */
* {box-sizing:border-box}

html, 
body {
  height: 100%;
  font-family: 'Oswald', sans-serif;
}
a { 
  color: inherit;
  text-decoration: none;

}

h1, h2, footer li {
font-family: 'Pacifico', cursive;
}
/* =============
//  HEADER/NAV  //
================ */
.ulheader {
    list-style-type: none;
}

/* =============
//   SLIDESHOW    //
================ */
.slideshow-container{
  display: flex;
  justify-content: space-around;
}

.image {
  height: 250px;
  width: 30%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}




/* =============
//   WHAT WE DO  //
================ */


/* =============
//     FORM     //
================ */


/* =============
//   ABOUT US    //
================ */
.aboutus{
  position: relative;
  display:flex;
  align-content: stretch;
}

.aboutus iframe{
  flex-grow: 6;
  padding:1vw;
}

.aboutbox {
  flex-grow: 3;
  margin:1vw;
}
.buttonteam {
  display:flex;
  justify-content: center;
}
.team {
  padding:10px;
  border-radius: 5px;
  margin: 5vw;

}


/* =============
//   FOOTER      //
================ */



footer ul>li>ul>li {
    list-style: none;
    padding: 1em;
}

.footer {
  height: auto ;
}

.footer>ul {
  background-image: linear-gradient(to top, #3391a6, #78a9c3, #aec3da, #dbdfec, #ffffff);
  flex: 1;
  padding: 5% 0;
}

.footer,
.footer ul,
.footer ul li ul 
 {
    display: flex;
    justify-content:space-evenly;
}

.footer ul li ul {
    flex-direction: column;
    align-items: center;
}

.footer ul>li>ul>li:hover { 
  filter: brightness(50%);
  opacity: 0.4;
  padding: 1.1em;
}


/* =============
//   Media queries      //
================ */

@media screen and (max-width: 960px) { 

footer ul {
        flex-direction: column;
        
    }
        
}